@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeShimmer {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}
.fade-shimmer {
  background-color: #f6f6f6;
  animation: fadeShimmer 1.2s ease-in-out infinite;
}

@layer components {
  .btn-hover {
    @apply bg-gray-200;
  }
}
